<?xml version="1.0"?>
<psalm
    errorLevel="1"
    cacheDirectory="./.psalm-cache"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
    errorBaseline="psalm-baseline.xml"
    findUnusedCode="true"
    findUnusedBaselineEntry="true"
    findUnusedPsalmSuppress="true"
>
    <projectFiles>
        <directory name="src"/>
        <directory name="test"/>
        <ignoreFiles>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>

    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
    </plugins>

    <issueHandlers>
        <UnusedClass>
            <errorLevel type="suppress">
                <directory name="test/StaticAnalysis" />
            </errorLevel>
        </UnusedClass>
    </issueHandlers>

    <stubs>
        <file name=".psr-container.php.stub" preloadClasses="true" />
    </stubs>
</psalm>
